/* Definição das cores harmoniosas */
:root {
--primary-color-red: #a97dd3; /* laranja */
--primary-color-gray: #e6e9e9; /*turquesa */
--primary-color-black: #160f0d; /* laranja */
}

body {
    border:0;
    margin: 0;
}
/* Estilo para o header */
header {
background-color: var(--primary-color-red);
color: rgb(255, 255, 255);
text-align: center;
padding: 20px;
margin: 0 auto;
max-width: 1920px;
}

section {
    background-color: var(--primary-color-gray);
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1920px;

}

footer {
    background-color: var(--primary-color-red);
    padding: 20px;
    margin: 0 auto;
    max-width: 1920px;
    text-align: center;
color: rgb(255, 255, 255);

}

.product-info {
display: flex;
flex-direction: column;
align-items: center;
}
/* Estilo para o botão de chamada para ação (CTA) */
.cta-button {
background-color: white;
color: var(--primary-color-black);
padding: 10px 20px;
border-radius: 25px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
}

.cta-button:hover {
background-color: var(--primary-color-red);
color: white;
}

/* Estilo para a seção de avaliações dos clientes */
.reviews {
background-color: var(--primary-color-red);
color: white;

align-items: center;
display: flex;
flex-direction: column;
align-items: center;
}

/* Estilo para o formulário de compra */
.buy-section form {
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--primary-color-blue);
color: rgb(31, 29, 29);
padding: 20px;

}

.buy-section input[type="submit"] {
background-color: var(--primary-color-yellow);
color: var(--primary-color-blue);
padding: 10px 20px;
border-radius: 25px;
border: none;
margin-top: 10px;
display: flex;
align-items: center;
justify-content: center;

}

.buy-section input[type="submit"]:hover {
background-color: var(--primary-color-blue);
color: var(--primary-color-yellow);
}

